<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
  <connectionStrings>
    <add name="SandlerDBEntities" connectionString="metadata=res://*/SandlerEDM.csdl|res://*/SandlerEDM.ssdl|res://*/SandlerEDM.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=10.1.10.2;initial catalog=SandlerDBV2014;User Id=sa;Password=Password!23;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <appSettings>
    <add key="Server.Hostname" value="127.0.0.1"/>
    <add key="Server.Port" value="25"/>
    <add key="Server.UseDefaultCredentials" value="true"/>
    <add key="Server.CredentialsRequired" value="false"/>
    <add key="Server.Username" value=""/>
    <add key="Server.Password" value=""/>
    <add key="Server.EnableSSL" value="false"/>
    <add key="Server.Host.UploadDirectoryPath" value="C:\inetpub\wwwroot\SPM2\Uploads"/>    
    <add key="CampaignEmailResponseURL" value="https://minedsystemsassetmanagement.com/MSFeedBack/Home/ACEFeedback"/>
    <add key="IntervalMinutes" value="1" />
	<add key="EmailBackgroundImagePath" value="http://minedsystemsassetmanagement.com/spm2/images/Accent.png"/>
  </appSettings>
</configuration>